.flex {
    display: flex;
    flex-wrap: wrap;
    border: 4px solid #eeeeee;
    min-height: 100vh;
}
  
.flex > * {
    width: 50%;
}

@media (max-width: 1220px) {
    .flex {
        overflow: unset;
        height: auto;
    }

    .flex > * {
        width: 100%;
    }
}
