@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

:root {
    --cell-size: 40px;
}

@media (max-width: 970px) {
    .cell,
    .easy,
    .normal,
    .hard {
        --cell-size: 20px;
    }
}

@media (max-width: 400px) {
    .cell,
    .easy,
    .normal,
    .hard {
        --cell-size: 15px;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px 'Roboto', 'Arial', sans-serif;
}

  .container {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .cell {
    height: var(--cell-size);
    border: 1px solid #ebebed;
  }
  
  .board {
    display: grid;
    justify-content: center;
  }

  .easy {
    grid-template-columns: repeat(5, var(--cell-size));
  }

  .normal {
    grid-template-columns: repeat(10, var(--cell-size));
  }

  .hard {
    grid-template-columns: repeat(15, var(--cell-size));
  }
  
  .active {
    background-color: #41d8e6;
  }
  
  .failed {
    background-color: #e95963;
  }
  
  .win {
    background-color: #00e881;
  }

  .input {
    min-height: 40px;
    width: 100%;
    max-width: 300px;
    font-size: 18px;
    color: #819298;
    background-color: #f3f3f3;
    border: none;
    padding-left: 10px;
  }
  
  .btn {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 18px;
    max-width: 300px;
    padding: 10px;
    color: #fff;
    border: 1px solid #999;
    border: none transparent;
    background-color: #7b8d93;
    text-decoration: none;
    border-radius: 2px;
    line-height: 1.3;
    text-transform: uppercase;
  }
